.checklist{
  .item{
    padding: 10px 0;
    font-weight: bold;
    .status{
      float: right;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold;
      padding: 4px 10px 3px;
      //width: 100px;
      text-align: center;
      border: 2px solid;
    }
    &.complete .status{
      color: $green;
    }
    &.incomplete .status{
      color: $orange;
    }
    &.not-started .status{
      color: $secondary-text-colour;
    }
  }

/*
  .item::before{
    content: "";
    float: left;
    background-color: #fff;
    border: 2px solid $border-colour;

    width: 30px;
    height: 30px;

    margin-right: 10px;
    margin-top: -5px;
  }

  .item.done::before{
    content: "";
    background: #FFF url(/public/images/tick.png) no-repeat 1px 1px;
    background-size: 91%;
  }
*/

}