
// New details tag style

details.heading-style{
  margin-bottom: 30px;
  summary{
    text-decoration: underline;
  }
  summary::-webkit-details-marker {
    display: none
  }
  &[open]{
    summary{
      font-weight: bold;
      text-decoration: none;
      color: $text-colour;
      &:focus{
        outline: none;
      }
      &:hover{
        text-decoration: underline;
      }
    }
  }
}