{{<govuk_template}}


{{$head}}
  {{>includes/head}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$bodyClasses}}version-1{{/bodyClasses}}

{{$content}}

<main id="content" role="main">

			<p class="form-navigation">
				<a class="back-to-previous" href="./">Back <span class="visuallyhidden"> to the previous question.</span></a>
				<span class="question-number">Question 3 of 16</span>
			</p>

			<h1 class="heading-large">Where do you live?</h1>

			<form action="/" method="get" class="form">

	      <div class="form-group">
	        <label class="form-label" for="postcode">
	          Enter your postcode
	        </label>
	        <input type="text" id="postcode-2" class="form-control form-control-8-chars">
	      </div>

      	<div class="form-group js-hidden" id="submit-postcode">
		      <a class="button js-toggle" href="#" data-show="#address-list" data-hide="#submit-postcode">Continue</a>
		    </div>

		    <div class="js-hiddenx" id="address-list">

	      	<div class="form-group">
	          <h3 class="form-label">
	            Enter your address
	          </h3> 

	          <select name="Address" id="address-selector" autofocus="autofocus" autocorrect="off" autocomplete="off" class="auto-suggest form-control">
      			<option value="" selected="selected">Select address</option>
	            <option value="1 Pegasus Place, St Albans AL3 5QT">1 Pegasus Place, St Albans AL3 5QT</option>
	            <option value="2 Pegasus Place, St Albans AL3 5QT">2 Pegasus Place, St Albans AL3 5QT</option>
	            <option value="3 Pegasus Place, St Albans AL3 5QT">3 Pegasus Place, St Albans AL3 5QT</option>
	            <option value="4 Pegasus Place, St Albans AL3 5QT">4 Pegasus Place, St Albans AL3 5QT</option>
	            <option value="5 Pegasus Place, St Albans AL3 5QT">5 Pegasus Place, St Albans AL3 5QT</option>
	            <option value="6 Pegasus Place, St Albans AL3 5QT">6 Pegasus Place, St Albans AL3 5QT</option>
	            <option value="7 Pegasus Place, St Albans AL3 5QT">7 Pegasus Place, St Albans AL3 5QT</option>
	            <option value="8 Pegasus Place, St Albans AL3 5QT">8 Pegasus Place, St Albans AL3 5QT</option>
	            <option value="9 Pegasus Place, St Albans AL3 5QT">9 Pegasus Place, St Albans AL3 5QT</option>
	            <option value="10 Pegasus Place, St Albans AL3 5QT">10 Pegasus Place, St Albans AL3 5QT</option>
	            <option value="11 Pegasus Place, St Albans AL3 5QT">11 Pegasus Place, St Albans AL3 5QT</option>
	            <option value="12 Pegasus Place, St Albans AL3 5QT">12 Pegasus Place, St Albans AL3 5QT</option>
	            <option value="13 Pegasus Place, St Albans AL3 5QT">13 Pegasus Place, St Albans AL3 5QT</option>
	            <option value="14 Pegasus Place, St Albans AL3 5QT">14 Pegasus Place, St Albans AL3 5QT</option>
	            <option value="15 Pegasus Place, St Albans AL3 5QT">15 Pegasus Place, St Albans AL3 5QT</option>
	            <option value="16 Pegasus Place, St Albans AL3 5QT">16 Pegasus Place, St Albans AL3 5QT</option>
	            <option value="17 Pegasus Place, St Albans AL3 5QT">17 Pegasus Place, St Albans AL3 5QT</option>
	            <option value="18 Pegasus Place, St Albans AL3 5QT">18 Pegasus Place, St Albans AL3 5QT</option>
	        	</select>	    
	        </div>


			    <div class="form-group"> 
			    	<a class="button" href="next-question" >Continue</a>
			    </div>

			  </div>

			</form>

</main>


{{/content}}


{{$bodyEnd}}
  {{>includes/scripts}}
{{/bodyEnd}}


{{/govuk_template}}
