{{<govuk_template}}


{{$head}}
  {{>includes/head}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$bodyClasses}}version-1{{/bodyClasses}}

{{$content}}

<main id="content" role="main">

	<div class="grid-row">
		<div class="column-two-thirds">

			<p class="form-navigation">
				<a class="back-to-previous" href="/">Back <span class="visuallyhidden"> to the previous question.</span></a>
				<!--<span class="question-number">Question 4 of 16</span>-->
			</p>

			<h1 class="heading-large">Thank you</h1>

			<p><a href="index">Back to index</a></p>

		</div>
	</div>

</main>

{{/content}}


{{$bodyEnd}}
  {{>includes/scripts}}
{{/bodyEnd}}


{{/govuk_template}}
