{{<govuk_template}}

{{$head}}
  {{>includes/head}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}

<main id="content" role="main">

	<div class="grid-row">
		<div class="column-two-thirds">

			<p class="form-navigation">
				<a class="back-to-previous" href="{{$prevURL}}{{/prevURL}}">Back <span class="visuallyhidden"> to the previous question.</span></a>
				<span class="question-number">Question {{$questionNumber}}{{/questionNumber}}  of 16</span>
			</p>

			<h1 class="heading-large">{{$pageTitle}}{{/pageTitle}}</h1>

				<form action="{{$nextURL}}{{/nextURL}}" method="get" class="form">

				{{$questionContent}}
				{{/questionContent}}		

			    <div class="form-group">
			      <input type="submit" class="button" value="Continue">
			    </div>

<!--
			    <p class="font-xsmall text-secondary">Data source: <a href="">address.open-register.org</a></p>
			-->

			</form>

		</div>
	</div>

</main>

{{/content}}

{{$bodyEnd}}
  {{>includes/scripts}}
{{/bodyEnd}}


{{/govuk_template}}
