{{<layout}}

{{$pageTitle}}About you{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<div class="grid-row">
		<div class="column-quarter">
				&nbsp;

				<!--
			<p class="back-link">
				<a href="">Back</a>
			</p>
		-->

		</div>
		<div class="column-three-quarters">

			<h1 class="heading-large">
				<span class="heading-secondary">Question 4</span>
				How would you like us to contact you?
			</h1>

			{{>includes/patterns/forms/preferred-contact-method}}

			<!-- Submit -->
		  <div class="form-group">
		    <a class="button" href="question-5">Continue</a>
		  </div>

		</div>
	</div>

</main>

{{/content}}

{{/layout}}

