{{<layout}}

{{$pageTitle}}Activate your account{{/pageTitle}}

{{$content}}

<main id="content" role="main">


  <form action="/" method="post" class="form text">

    <h1 class="form-title heading-large">
      Activate your account
    </h1>

    <p class="lede">An email has been sent to <strong class="bold-medium">user@email.com</strong>.</p>

    <p>
    	Click on the link in the email to confirm your email address.</p>
    	<p>
    	If the email doesn't arrive, check your junk email folder, <br>
    	<a href="">send another email</a> or <a href="">use a different email address</a>.
    </p>

	</form>


</main>

{{/content}}

{{/layout}}

