{{<layout}}

{{$pageTitle}}Create an account{{/pageTitle}}

{{$content}}

<main id="content" role="main">


  <h1 class="form-title heading-large">
    Mobile number
  </h1>

  <p class="text">
    We'll text you to update you about your application <br>or if you forget your password.
  </p>

  <details class="text">
    <summary>Don't have a mobile number?</summary>

    <p>If you don't have access to a mobile number you can:</p>

    <ul class="list-bullet">
      <li><a href="create-account-email">use an email address instead</a></li>
      <li><a href="how-to-get-email-address">find out how to get an email address</a></li>
      <li><a href="create-account-username">create a username for this service</a></li>
    </ul>

  </details>

  <form action="" method="get" class="form">

    <div class="form-group">
      <!-- Mobile number -->
      <div class="form-group">
        <label class="form-label" for="mobile">Mobile number</label>
        <input type="text" class="form-control" id="mobile">
      </div>
    </div>

    <!-- Submit -->
    <div class="form-group">
      <a class="button" href="activate-account">Continue</a>
    </div>

  </form>


</main>

{{/content}}

{{/layout}}

