{{<layout}}

{{$pageTitle}}Create an account{{/pageTitle}}

{{$content}}

<main id="content" role="main">


  <h1 class="form-title heading-large">
    Email address
  </h1>


    <p class="text">
      We need this so we can contact you about your application <br>or help you if you forget your password.
    </p>

    <details class="text">
      <summary>Don't have an email address?</summary>

      <p>If you don't have an email address you can:</p>

      <ul class="list-bullet">
        <li><a href="how-to-get-email-address">find out how to get one</a></li>
        <li><span class="link-style js-toggle" data-show="#mobile-question" data-hide="#email-question">use a mobile number instead</span></li>
        <li><a href="create-account-username">create a username instead</a></li>
      </ul>

    </details>

  <form action="" method="get" class="form">


    <div class="form-group" id="email-question">
      <!-- Email address -->
      <div class="form-group">
        <label class="form-label" for="email">Email address</label>
        <input type="text" class="form-control" id="email">
      </div>
    </div>

    <div class="form-group js-hidden" id="mobile-question">
      <!-- Mobile number -->
      <div class="form-group">
        <label class="form-label" for="mobile">Mobile number</label>
        <input type="text" class="form-control" id="mobile">
      </div>
    </div>

    <div class="form-group js-hidden" id="username-question">
      <!-- Username -->
      <div class="form-group">
        <label class="form-label" for="username">Username</label>
        <input type="text" class="form-control" id="username">
      </div>
    </div>

    <!-- Submit -->
    <div class="form-group">
      <a class="button" href="activate-account">Continue</a>
    </div>


	</form>


</main>

{{/content}}

{{/layout}}

