{{<layout}}

{{$pageTitle}}Create an account{{/pageTitle}}

{{$content}}

<main id="content" role="main">


  <h1 class="form-title heading-large">
    Create your account
  </h1>


  <form action="" method="get" class="form">

  <fieldset class="form-group">
    <legend class="heading-medium">Create a username</legend>


    <p class="text">If you can, we recommend you use an <a href="create-account-email">email</a> or <a href="create-account-mobile">mobile</a> instead.</p>

    <p class="text">
      Your username should be unique and easy for you to remember.<br>
      You'll need to use it each time you access this service.
    </p>

    <!-- Username -->
    <div class="form-group">
      <label class="form-label visuallyhidden" for="username">Create a username</label>
      <input type="text" class="form-control" id="username">
    </div>


    <!-- Submit -->
    <div class="form-group">
      <a class="button" href="activate-account">Continue</a>
    </div>


	</form>


</main>

{{/content}}

{{/layout}}

