{{<layout}}

{{$pageTitle}}Create an account{{/pageTitle}}

{{$content}}

<main id="content" role="main">


  <form action="" method="get" class="form">

    <h1 class="form-title heading-large">
      Create an account
    </h1>

    <p>
      An account lets you save your details and access them later on.
    </p>
    <p>
      You'll need an email address or mobile number to sign in.
    </p>

    <br>

      <form action="" method="get" class="form">

      <fieldset>
        <legend class="form-label-bold">How would you like to sign in?</legend>

      <div class="form-group">
        <label class="block-label" for="sign-in-email">
          <input type="radio" name="sign-in" id="sign-in-email" value="email">
          With an email address
        </label>

        <label class="inline block-label" for="sign-in-mobile">
          <input type="radio" name="sign-in" id="sign-in-mobile" value="mobile">
          With a mobile number
        </label>

        <label class="inline block-label" for="sign-in-neither">
          <input type="radio" name="sign-in" id="sign-in-neither" value="neither">
          I don't have either of these
        </label>


      </div>
      </fieldset>

          <!-- Submit -->
          <div class="form-group">
            <input type="submit" class="button" value="Continue">
          </div>
    </form>


    <!-- Password 
    <div class="form-group">
      <label class="form-label-bold" for="password">Create a password</label>
      <div class="form-hint">
        Your password must have:
        <ul class="list-bullet">
          <li>at least 8 characters</li>
          <li>at least one symbol (eg ?!£%)</li>
          <li>at least one capital letter</li>
        </ul>

      </div>
      <input type="text" class="form-control" id="password">
    </div>
    -->




	</form>


</main>

{{/content}}

{{/layout}}

