{{<layout}}

{{$pageTitle}}Create an account{{/pageTitle}}

{{$content}}

<main id="content" role="main">


  <form action="forgotten-password-done" method="get" class="form">

    <h1 class="form-title heading-large">
      Change your password
    </h1>

    <p class="text">Enter the email address you use to sign in to this service.<br>
      We'll email you a link to a page where you can change your password.</p>

    <!-- Email address -->
    <div class="form-group">
      <label class="form-label" for="email-address">Email address</label>
      <input type="text" class="form-control" id="email-address">
    </div>

    <!-- Submit -->
    <div class="form-group">
      <input type="submit" class="button" value="Send email">
      <p><a href="sign-in">Cancel</a></p>
    </div>


	</form>


</main>

{{/content}}

{{/layout}}

