{{<layout}}

{{$pageTitle}}Create an account{{/pageTitle}}

{{$content}}

<main id="content" role="main">


  <form action="" method="get" class="form">

    <h1 class="form-title heading-large">
      Have you used this service before?
    </h1>

    <div class="inline form-group">
      <label class="block-label" for="yes">
        <input type="radio" name="new-user" id="yes" value="yes">
        Yes
      </label>

      <label class="inline block-label" for="no">
        <input type="radio" name="new-user" id="no" value="no">
        No
      </label>
    </div>


    <!-- Submit -->
    <div class="form-group">
      <input type="submit" class="button" value="Continue">
    </div>


	</form>


</main>

{{/content}}

{{/layout}}

