{{<layout}}

{{$pageTitle}}Create an account{{/pageTitle}}

{{$content}}

<main id="content" role="main">


  <div class="sign-in-box">
  <form action="/" method="post" class="form">

    <h1 class="form-title heading-large">
      Sign in
    </h1>

    <!-- Email address -->
    <div class="form-group">
      <label class="form-label-bold" for="email-address">Email address</label>
      <input type="text" class="form-control" id="email-address">
    </div>

    <!-- Password -->
    <div class="form-group">
      <label class="form-label-bold" for="password">Password</label>
      <input type="text" class="form-control" id="password">
    </div>

    <p><a href="forgotten-password">Forgotten your password?</a></p>

    <!-- Submit -->
    <div class="form-group">
      <a class="button" href="activate-account">Sign in</a>
    </div>


	</form>
</div>


</main>

{{/content}}

{{/layout}}

