{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<h1 class="heading-xlarge">Complex form table</h1>

	<table>
		<tr>
			<td></td>
			<th>2014 (£)</th>
			<th>2013 (£)</th>
		</tr>
		<tr>
			<th>
				<details>
					<summary>Turnover</summary>
					<p>The total amount your company has received or is due from providing goods or services for the period.
				It should exclude VAT if VAT was charged on it’s supplies. Turnover may also be known as sales, revenue or income.</p>
			</details>

			</th>
			<td><label for="" class="visuallyhidden">2014 turnover</label><input stype="text" class="form-control"></td>
			<td><label for="" class="visuallyhidden">2014 turnover</label><input stype="text" class="form-control"></td>
		</tr>
		<tr>
			<th>Cost of sales</th>
			<td><label for="" class="visuallyhidden">2014 cost of sales</label><input stype="text" class="form-control"></td>
			<td><label for="" class="visuallyhidden">2014 turnover</label><input stype="text" class="form-control"></td>
		</tr>
		<tr>
			<th>Gross profit</th>
			<td></td>
			<td></td>
		</tr>

	</table>

</main>

{{/content}}

{{/layout}}
