{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<h1 class="heading-xlarge">Example patterns</h1>

	<h2 class="heading-medium">Form elements</h2>

	<ul class="list-bullet">
		<li><a href="text-fields">Text fields</a></li>
		<li><a href="radios-and-checkboxes">Radio buttons and checkboxes</a></li>
		<li><a href="select-boxes">Select boxes</a></li>
	</ul>	



	<h2 class="heading-medium">Account management</h2>


	<h3 class="heading-small">
		<a href="/examples/account-management/new-user-check">
			Example 1
		</a>
	</h3>
	<ul class="list-bullet">
		<li>Explicit choice between new and returning user</li>
		<li>Reset password via email</li>
	</ul>

</main>

{{/content}}

{{/layout}}
