{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main" class="new-styles">

	<h1 class="heading-xlarge">Example form questions</h1>

	  <form action="/" method="post" class="form">


			{{>includes/patterns/forms/name}}

			{{>includes/patterns/forms/address}}

			{{>includes/patterns/forms/date-of-birth}}

			{{>includes/patterns/forms/preferred-contact-method}}

			{{>includes/patterns/forms/create-a-password}}

			{{>includes/patterns/forms/radios-binary}}

			{{>includes/patterns/forms/pounds-per-time-period}}

			{{>includes/patterns/forms/checkboxes-fruit}}

			{{>includes/patterns/forms/radios-fruit}}

			{{>includes/patterns/forms/textarea-fruit}}

			{{>includes/patterns/forms/side-filters}}

		  <!-- Submit -->
	    <div class="form-group">
	      <a class="button" href="activate-account">Continue</a>
	    </div>

	</form>



</main>

{{/content}}

{{/layout}}
