{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

<h1 class="heading-xlarge">Radios and checkboxes</h1>

<form action="/" method="post" class="form">



	<!-- Favourites -->

	<fieldset class="form-group">
		<legend class="heading-medium">What fruits do you like?</legend>
		<div class="form-hint">
			<p>Select all that apply:</p>
		</div>
    <div class="form-group">
    	<input type="checkbox" id="apples"> 
      <label class="form-label form-control-checkbox" for="apples">
      	apples
      </label>
      <input type="checkbox" id="oranges"> 
      <label class="form-label form-control-checkbox" for="oranges">
      	oranges
      </label>
      <input type="checkbox" id="pairs"> 
      <label class="form-label form-control-checkbox" for="pairs">
      	pairs
      </label>
      <input type="checkbox" id="bananas"> 
      <label class="form-label form-control-checkbox" for="bananas">
      	bananas
      </label>
    </div>
  </fieldset>

	<!-- Reason -->

 <fieldset class="form-group">
		<legend class="heading-medium">What's your favourite thing about fruit?</legend>
		<p class="form-hint">Select one:</p>
    <div class="form-group">
    	<input type="radio" id="nice" name="why"> 
      <label class="form-label form-control-radio" for="nice">
      	it's healthy
      </label>
      <input type="radio" id="tasty" name="why"> 
      <label class="form-label form-control-radio" for="tasty">
      	it's tasty
      </label>
      <input type="radio" id="fruity" name="why"> 
      <label class="form-label form-control-radio" for="fruity">
      	it's fruity
      </label>
    </div>
	</fieldset>


	</form>



</main>

{{/content}}

{{/layout}}
