{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<h1 class="heading-xlarge">Text fields</h1>


	<h2 class="heading-medium">Proportional width text fields</h2>

	<p class="text">
		Proportional widths that match the main grid layouts. 
		They flip to full width at the tablet breakpoint.
	</p>

	<form action="/" method="post" class="form">
		<div class="form-group">
	    <label class="form-label" for="text-field-1">
	      Full width
	    </label>
	    <input type="text" id="text-field-1" class="form-control form-control-1-1"> 
	  </div>

	  <div class="form-group">
	    <label class="form-label" for="text-field-2">
	      Three quarters width
	    </label>
	    <input type="text" id="text-field-2" class="form-control form-control-3-4"> 
	  </div>

	  <div class="form-group">
	    <label class="form-label" for="text-field-3">
	      Two thirds width
	    </label>
	    <input type="text" id="text-field-3" class="form-control form-control-2-3"> 
	  </div>

	  <div class="form-group">
	    <label class="form-label" for="text-field-4">
	      Half width (default)
	    </label>
	    <input type="text" id="text-field-4" class="form-control form-control-1-2"> 
	  </div>

	  <div class="form-group">
	    <label class="form-label" for="text-field-5">
	      Third width
	    </label>
	    <input type="text" id="text-field-5" class="form-control form-control-1-3"> 
	  </div>

	  <div class="form-group">
	    <label class="form-label" for="text-field-6">
	      Quarter width
	    </label>
	    <input type="text" id="text-field-6" class="form-control form-control-1-4"> 
	  </div>

	  <div class="form-group">
	    <label class="form-label" for="text-field-7">
	      Eighth width
	    </label>
	    <input type="text" id="text-field-7" class="form-control form-control-1-8"> 
	  </div>


		<h2 class="heading-medium">Fixed width text fields</h2>

		<p class="text">
			Fixed width text fields. Use these when the expected input has a predictable number of characters.
			Remember to factor in spaces and other characters.
		</p>


		<div class="form-group">
	    <label class="form-label" for="text-field-8">
	      1 character
	    </label>
	    <input type="text" id="text-field-8" class="form-control form-control-1-char"> 
	  </div>
	  <div class="form-group">
	    <label class="form-label" for="text-field-9">
	      2 characters
	    </label>
	    <input type="text" id="text-field-9" class="form-control form-control-2-chars"> 
	  </div>
	  <div class="form-group">
	    <label class="form-label" for="text-field-10">
	      3 characters
	    </label>
	    <input type="text" id="text-field-10" class="form-control form-control-3-chars"> 
	  </div>
	  <div class="form-group">
	    <label class="form-label" for="text-field-11">
	      4 characters
	    </label>
	    <input type="text" id="text-field-11" class="form-control form-control-4-chars"> 
	  </div>
	  <div class="form-group">
	    <label class="form-label" for="text-field-12">
	      5 characters
	    </label>
	    <input type="text" id="text-field-12" class="form-control form-control-5-chars"> 
	  </div>
	  <div class="form-group">
	    <label class="form-label" for="text-field-13">
	      6 characters
	    </label>
	    <input type="text" id="text-field-13" class="form-control form-control-6-chars"> 
	  </div>
	  <div class="form-group">
	    <label class="form-label" for="text-field-14">
	      7 characters
	    </label>
	    <input type="text" id="text-field-14" class="form-control form-control-7-chars"> 
	  </div>
	  <div class="form-group">
	    <label class="form-label" for="text-field-15">
	      8 characters
	    </label>
	    <input type="text" id="text-field-15" class="form-control form-control-8-chars"> 
	  </div>
	  <div class="form-group">
	    <label class="form-label" for="text-field-16">
	      9 character
	    </label>
	    <input type="text" id="text-field-16" class="form-control form-control-9-chars"> 
	  </div>
	  <div class="form-group">
	    <label class="form-label" for="text-field-17">
	      10 characters
	    </label>
	    <input type="text" id="text-field-17" class="form-control form-control-10-chars"> 
	  </div>
	  <div class="form-group">
	    <label class="form-label" for="text-field-18">
	      11 characters
	    </label>
	    <input type="text" id="text-field-18" class="form-control form-control-11-chars"> 
	  </div>
	  <div class="form-group">
	    <label class="form-label" for="text-field-19">
	      12 characters
	    </label>
	    <input type="text" id="text-field-19" class="form-control form-control-12-chars"> 
	  </div>
	  <div class="form-group">
	    <label class="form-label" for="text-field-20">
	      13 characters
	    </label>
	    <input type="text" id="text-field-20" class="form-control form-control-13-chars"> 
	  </div>
	  <div class="form-group">
	    <label class="form-label" for="text-field-21">
	      14 characters
	    </label>
	    <input type="text" id="text-field-21" class="form-control form-control-14-chars"> 
	  </div>
	  <div class="form-group">
	    <label class="form-label" for="text-field-22">
	      15 characters
	    </label>
	    <input type="text" id="text-field-22" class="form-control form-control-15-chars"> 
	  </div>
	  <div class="form-group">
	    <label class="form-label" for="text-field-23">
	      16 characters
	    </label>
	    <input type="text" id="text-field-23" class="form-control form-control-16-chars"> 
	  </div>


	</form>



</main>

{{/content}}

{{/layout}}
