{{<layout}}

{{$pageTitle}}Checklist{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<h1 class="heading-xlarge">
		Checklist
	</h1>

	<p>2 out of 4 sections completed.</p>

	<div class="grid-row">
		<div class="column-two-thirds">

			<ol class="checklist list-number">
				<li class="item complete">
					Section one
					<span class="status">complete</span>
				</li>
				<li class="item complete">
					Section two
					<span class="status">complete</span>
				</li>
				<li class="item incomplete">
					Section three
					<span class="status">incomplete</span>
				</li>
				<li class="item not-started">
					Section four
					<span class="status">not started</span>
				</li>
			</ol>

		</div>
	</div>



</main>

{{/content}}

{{/layout}}

