{{<layout}}

{{$pageTitle}}Checklist{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<h1 class="heading-xlarge">
		Checklist
	</h1>

	<p>2 out of 4 tasks completed.</p>

	<div class="grid-row">
		<div class="column-two-thirds">

			<ol class="checklist">
				<li class="item done">
					Submit application
					<span class="status">done</span>
				</li>
				<li class="item done">
					Initial consultation
					<span class="status">done</span>
				</li>
				<li class="item not-done">
					<a href="">Task three</a>
					<span class="status">not done</span>
				</li>
				<li class="item not-ready">
					<a href="">Task four</a>
					<span class="status">not ready</span>
				</li>
			</ol>

		</div>
	</div>



</main>

{{/content}}

{{/layout}}

